<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.devil.shadow.model.TestMapper" >
  <resultMap id="BaseResultMap" type="org.devil.shadow.model.TestModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from test
    <where>
      <if test="id != null">
        AND id = #{id}
      </if>
    </where>
  </select>
  <insert id="BATCH_INSERT" parameterType="java.util.Map">
    <![CDATA[
            REPLACE INTO
		    test(id, name, value)
			VALUES
			]]>
    <foreach collection="list" item="item" index="index" separator=",">
      <![CDATA[
			 (#{item.id}, #{item.name}, #{item.value})
            ]]>
    </foreach>
  </insert>

  <select id="SELECT_BY_IDS" parameterType="java.util.Map" resultMap="BaseResultMap">
    <![CDATA[
            select * from test
        ]]>
    <where>
      <foreach item="item" collection="list" open="id in (" separator="," close=")">#{item}</foreach>
    </where>
  </select>
</mapper>